body {
  padding: 50 px;
  background-color: #66ccff;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.articleListMain .header input {
  padding: 10 px;
  font-size: 16 px;
  border: 2 px solid #fff;
  width: 165 px;
}
.articleListMain .header button {
  padding: 10 px;
  font-size: 16 px;
  margin: 10 px;
  margin-right: 0 px;
  background-color: #0066ff;
  color: #fff;
  border: 2 px solid #0066ff;
}
.articleListMain .header button:hover {
  background-color: #003399;
  border: 2 px solid #003399;
  cursor: pointer;
}
.articleListMain .theList {
  list-style: none;
  color: red;
  padding-left: 0;
  width: 250 px;
}
.articleListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15 px;
  margin-bottom: 15 px;
  border-radius: 5 px;
  list-style: none;
}
ul.theList {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}
.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15 px;
  margin-bottom: 15 px;
  border-radius: 5 px;
  transition: background-color 0.2 s ease-out;
}
.articleListMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}
